
.logo{
  align-items: center;
  text-align: center;

  img {
    width: 150px;
    max-width: 100%;
  }




  }

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 15px 0;
  border-bottom: 1px solid ;


  &__nav {
    justify-content: space-between;
    align-items: center;
  }

  //&__logo {
  //
  //  a {
  //    display: inline-block;
  //  }
  //
  //  img {
  //    width: 150px;
  //    max-width: 100%;
  //  }
  //}

  &__hamburger {
    width: 25px;
    height: 18px;
    display: block;
    position: relative;

    .line {
      display: block;
      background: get-color('primary');
      height: 3px;
      width: 100%;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0;
    }

    .line-2 {
      top: 7px;
    }

    .line-3 {
      top: 14px;
    }
  }

  &__menu {
    display: none;
  }

  @include breakpoint(large) {

    &__hamburger {
      display: none;
    }

    &__logo {

      img {
        width: 250px;
      }
    }

    &__menu {
      display: block;

      ul {
        margin: 0;

        li {
          list-style: none;
          list-style-type: none;

          &:last-child {

            a {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
