.mobile-menu {
  background: get-color('secondary');
  z-index: 2;

  ul {
    padding-top: 1rem;

    li {
      margin-bottom: 1rem;
    }
  }

  a {
    color: black;

    &:hover {
      opacity: 0.6;
    }
  }
}
